apiVersion: v1
kind: PersistentVolume
metadata:
  name: eth2pv
spec:
  storageClassName: local-storage
  capacity:
    storage: {{ local_storage_size }}Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: /mnt/picluster
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: eth2claim
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: {{ local_storage_size }}Gi