apiVersion: v1
kind: Service
metadata:
  name: lighthouse-beacon
  labels:
    k8s-app: lighthouse-beacon
spec:
  type: LoadBalancer
  selector:
    app: lighthouse-beacon
  ports:
  - name: lighthouse-beacon-api
    port: {{ lighthouse_beacon_api_port }}
    targetPort: {{ lighthouse_beacon_api_port_target }}
    nodePort: 30021
  - name: lighthouse-beacon-wss
    port: {{ lighthouse_beacon_wss_port }}
    targetPort: {{ lighthouse_beacon_wss_port_target }}
    nodePort: 30023
  - name: lighthouse-metrics-port
    port: {{ lighthouse_metrics_port }}
    targetPort: {{lighthouse_metrics_port }}
    nodePort: 30025
  - name: lighthouse-beacon-port
    port: {{ lighthouse_beacon_port }}
    targetPort: {{ lighthouse_beacon_port_target }}
    nodePort: 30022

---

apiVersion: v1
kind: Service
metadata:
  name: lighthouse-beacon-udp
spec:
  type: LoadBalancer
  selector:
    app: lighthouse-beacon
  ports:
  - name: lighthouse-beacon-port-udp
    protocol: UDP
    port: {{ lighthouse_beacon_port }}
    targetPort: {{ lighthouse_beacon_port_target }}
    nodePort: 30024

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: lighthouse-beacon-metrics
  namespace: monitoring
  labels:
    k8s-app: lighthouse-beacon
spec:
  selector:
    matchLabels:
      k8s-app: lighthouse-beacon
  namespaceSelector:
    matchNames:
    - default
  endpoints:
  - targetPort: 5054
    path: "/metrics"
    interval: 15s

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: lighthouse-beacon
  labels:
    app: lighthouse-beacon
spec:
  replicas: 1
  revisionHistoryLimit: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: lighthouse-beacon
  template:
    metadata:
      labels:
        app: lighthouse-beacon
    spec:
      volumes:	
        - name: eth2pv	
          persistentVolumeClaim:	
            claimName: eth2claim
      containers:
        - name: lighthouse-beacon
          image: {{ lighthouse_image_tag }}
          imagePullPolicy: "Always"
          securityContext:
            runAsUser: 0
            allowPrivilegeEscalation: false
          ports:
            - containerPort: {{ lighthouse_beacon_api_port }}
            - containerPort: {{ lighthouse_beacon_wss_port }}
            - containerPort: {{ lighthouse_metrics_port }}
            - containerPort: {{ lighthouse_beacon_port }}
            - containerPort: {{ lighthouse_beacon_port }}
              protocol: UDP
          command: ["lighthouse"]
          args: ["bn", "--staking", "--metrics", "--metrics-address", "0.0.0.0", "--metrics-allow-origin=*", "--http", "--http-address", "0.0.0.0", "--http-allow-origin=*", "--network-dir", "/root/.lighthouse/network", "--ws", "--ws-address", "0.0.0.0", "--eth1", "--eth1-endpoint", "{{ eth1_endpoint }}"{% if poap_lighthouse is defined %}, "--graffiti={{ poap_lighthouse }}"{% endif %}  ]
          volumeMounts:	
            - mountPath: "/root"	
              name: eth2pv
              